@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aeonik-Regular';
  src: url('/fonts/Aeonik-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Aeonik-Regular',  "Helvetica Neue", sans-serif;
}